<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>押韵</title>
    <link rel="icon" href="favicon.png">
    <link rel="stylesheet"  href="/css/index.css"/>
    <script src="/js/libs/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div >
        <div class="subQuery">
            <a class="index-logo-src" href="//51rhyme.com/"><img src="/image/51logo.png" width="101" height="33"></a>
            <span class="bg s_ipt_wr quickdelete-wrap">
                <input id="kw" name="word" class="s_ipt" value="<%= body %>" maxlength="255" autocomplete="off">
            </span>
            <span class="bg s_btn_wr" id="yayunID2">
                <!-- <input type="button"  value=""> -->
                <img src="/image/51query.jpg" alt=""  class="bg s_btn">
            </span>
        </div>
        <div class="yayuntab">
            <span>
                <a id="wordId" class="taba curspan" href="javascript:void(0)" data-val=''>字</a>
            </span>
            <span>
                <a id="wordIdwords" class="taba" href="javascript:void(0)" data-val='words'>词</a>
            </span>
            <span>
                <a id="wordIdtang" class="taba" href="javascript:void(0)" data-val='tang'>唐诗</a>
            </span>
            <span>
                <a id="wordIdsong" class="taba" href="javascript:void(0)" data-val='song'>宋词</a>
            </span>
            <span>
                <a id="wordIdyuan" class="taba" href="javascript:void(0)" data-val='yuan'>元曲</a>
            </span>
        </div>
       <div class="resCls">
            <div id="queryName">
                <a target='_blank' href="https://www.baidu.com/s?wd=<%- data[0] %>" >
                    <em><%= queryName %></em>
                </a>
            </div>
            <div id="queryCnt">
                <%= data.join('') %>
            </div>
           
            <div><%= total %></div>
       </div>
    </div>
</body>
<script>
    $(function(){ 
        $('#kw').keydown(function(e){
            var timer = ''
            if(e.keyCode === 13){
                $('#yayunID2').click()
            }else{
                if(timer){
                    clearTimeout(timer)
                }
                timer = setTimeout(function(){
                    $('#yayunID2').click()
                },200)
            }
        });  
        var source = ''
        $('.taba').click(function(e){
            e.stopPropagation()
            $('#wordId'+source).removeClass('curspan')
            source = $(this).data('val')
            $(this).toggleClass('curspan')
            $('#yayunID2').click()
        })
        $('#yayunID2').click(function(){
            var word = $('#kw').val()
            if(word){
                window.location.href = '/query?word=' + word
                // word = word.split('')[word.length-1]
                // $.ajax({
                //     type: "get",
                //     url: '/query',
                //     dataType:'json',
                //     cache: false,
                //     data: {
                //         word: word,
                //         source: (source === 'words' ? '' : source),
                //         fromi: 1,
                //         isRender:false
                //     },
                //     success:function(data) {
                //         $('#queryName a').attr('href', 'https://www.baidu.com/s?wd='+word)
                //         $('#queryName em').text(word)
                //         if(data.data && data.data.total){
                //             var html = []
                //             data.data.body = data.data.body.slice(0,50)
                //             data.data.body.forEach(function(item){
                //                 var body = item.body.split('。').join('。<br/>')
                //                 html.push(`<div class='verDiv'>
                //                         <p>${item.title}</p>
                //                         <p>作者：&nbsp;${item.author}</p>
                //                         <p>${body}</p>
                //                     </div>`)
                //             });
                //             $('#queryCnt').html(html.join(''))
                //         }else{
                //             $('#queryCnt').html(data.data)
                //         }
                //     }
                // })
            }
        })
    })
</script>
</html>
