<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>押韵</title>
    <link rel="icon" href="//51rhyme.com/image/favicon.ico">
    <link rel="stylesheet"  href="/css/index.css"/>
    <script src="/js/libs/jquery-1.11.3.min.js"></script>
</head>
<body>
    <div id="main">
        <div class="subQuery">
            <a class="index-logo-src" href="//51rhyme.com/"><img src="/image/51logo.png" width="101" height="33"></a>
            <span class="bg s_ipt_wr quickdelete-wrap">
                <input id="kw" name="word" class="s_ipt" value="<%= body %>" maxlength="255" autocomplete="off">
            </span>
            <span class="bg s_btn_wr" id="yayunID2">
                <!-- <input type="button"  value=""> -->
                <img src="/image/51query.jpg" alt=""  class="bg s_btn">
            </span>
        </div>
        <div class="yayuntab">
            <span>
                <a id="wordIdword" class="taba" href="javascript:void(0)" data-val='word'>字</a>
            </span>
            <span>
                <a id="wordIdwords" class="taba" href="javascript:void(0)" data-val='words'>词</a>
            </span>
            <span>
                <a id="wordIdlyrics" class="taba" href="javascript:void(0)" data-val='lyrics'>歌词</a>
            </span>
            <span>
                <a id="wordIdtang" class="taba" href="javascript:void(0)" data-val='tang'>唐诗</a>
            </span>
            <span>
                <a id="wordIdsong" class="taba" href="javascript:void(0)" data-val='song'>宋词</a>
            </span>
            <span>
                <a id="wordIdyuan" class="taba" href="javascript:void(0)" data-val='yuan'>元曲</a>
            </span>
        </div>
       <div class="resCls">
            <div id="queryName">
                <a target='_blank' href="https://www.baidu.com/s?wd=<%- queryName %>" >
                    <em><%= queryName %></em>
                </a>
            </div>
            <% if(resType == 'poem'){ %>
            <div id="queryCnt">
                <% for(let fi = 0; fi < data.length; fi++){ %>
                <div class='verDiv'>
                    <p><%= data[fi].title%></p>
                    <p>【作者】&nbsp;<%= data[fi].author%></p>
                    <p>【朝代】&nbsp;<%= data[fi].year%></p>
                    <% for(let bi = 0; bi < data[fi].body.length; bi++){ %>
                        <p><%- data[fi].body[bi]-%>。</p>
                    <% } %>
                </div>
                <% } %>
            </div>
            <% }else if(resType == 'lyrics'){ %>
            <div id="queryCnt">
                <% for(let si = 0; si < data.length; si++){ %>
                <div class='verDiv'>
                    <p><%= data[si].song_name%></p>
                    <p>【演唱】&nbsp;<%= data[si].singer_name%></p>
                    <p>【专辑】&nbsp;<%= data[si].album_name%></p>
                    <% for(let bi = 0; bi < data[si].body.length; bi++){ %>
                        <p><%- data[si].body[bi]-%>。</p>
                    <% } %>
                </div>
                <% } %>
            </div>
            <% }else if(resType == 'words'){ %>
            <div class="words" id="queryCnt">
                <% for(let ci = 0; ci < data.length; ci++){ %>
                    <p><%- data[ci].ci%> <label>&nbsp;&nbsp;注释: <%= data[ci].explanation%></label></p>
                <% } %>
            </div>
            <% }else{ %>
            <div id="queryCnt" class="word-list" style="color:black;">
                <%- data %>
            </div>
            <% } %>
       </div>
        <% if (total){ %>
        <div class="page">
            <% for(let yi = fromi,count=0; count < 10; yi++){ %>
            <a href="javascript:void(0)" class="<%= ((yi == curi) ? 'pageA cur-a' : 'pageA') %>" data-val="<%= yi %>"><%= yi %></a>
            <% count++ %>
            <% } %>
        </div>
        <% } %>
    </div>

     <!-- 字的注解 -->
    <div class="el-popover el-popper word-note" x-placement="top">
       
    </div>

    <div class="flr-bar">
        <div class="fr-icon">^</div>
        <div class="fr-icon">?</div>
        <div id="wxm"><img src="/image/wxm.jpg"/></div>
    </div>

</body>
<script>
    $(function(){ 
        // $('#kw').keydown(function(e){
        //     var timer = ''
        //     if(e.keyCode === 13){
        //         $('#yayunID2').click()
        //     }else{
        //         if(timer){
        //             clearTimeout(timer)
        //         }
        //         timer = setTimeout(function(){
        //             $('#yayunID2').click()
        //         },5000)
        //     }
        // }); 
        function getMousePos(event) {
            var e = event || window.event;
            var scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
            var scrollY = document.documentElement.scrollTop || document.body.scrollTop;
            var x = e.pageX || e.clientX + scrollX;
            var y = e.pageY || e.clientY + scrollY;
            return { 'x': x, 'y': y };
        } 
        var flag = true;
        $('#kw').delegate('#kw input', 'input', function () {
            if (!flag) //默认都可。 输入法时 截断
                $('#yayunID2').click()
        }).on('compositionstart', function () {
            flag = true;
            console.log('输入法，录入开始');
        }).on('compositionend', function () {
            flag = false;
            $('#yayunID2').click()//在input之后执行 所以需要手动调用一次
            console.log('输入法，输入结束');
        })
        let resWord = "<%=queryName %>"
        console.log(resWord)
        if(resWord){
            $('#queryName a').attr('href', 'https://www.baidu.com/s?wd=' + resWord)
            $('#queryName em').text(resWord)
        }
         var source = "<%=source %>"
         if(source){
              $('#wordId' + source).toggleClass('curspan')
         }
        $('.taba').click(function(e){
            e.stopPropagation()
            $('#wordId'+source).removeClass('curspan')
            source = $(this).data('val')
            $(this).toggleClass('curspan')
            $('#yayunID2').click()
        })
         $('.pageA').click(function (e) {
            e.stopPropagation()
            $('.pageA').removeClass('cur-a')
            $(this).toggleClass('cur-a')
            const curi = $(this).data('val')
            var word = $('#kw').val()
            if(word){
                window.location.href = '/query?word=' + word + '&source=' + source + '&curi=' + curi
            }
         })
        $('#yayunID2').click(function(e){
            e.stopPropagation()
            var word = $('#kw').val()
            if(word){
                window.location.href = '/query?word=' + word + '&source=' +  source + '&curi=' +  1
            }
        })
        function renderNot(obj){
            $('.el-popover').html()
        }
        $('#queryCnt span').click(function(e){
            e.stopPropagation()
            var word = $(this).text()
            var xyObj = getMousePos()
            $('.el-popover').attr('style',`display:block;transform-origin: center top; 
            z-index: 2113; position: absolute; top: ${xyObj.y+6}px; left: ${xyObj.x+10}px;`)
            $.ajax({
                url:"/query",  
                dataType:"json", 
                data:{"word": word,source:'comment',isRender:"false"},
                type:"GET", 
                success: function(res){
                    $('.el-popover').html(res.data)
                }
            });
        })
        $("html").click(function(){
            $('.el-popover').attr('style',`display:none;`)
            $('.el-popover').html("")
        })
        var wx_timer = 0
        $(".fr-icon").click(function(e){
            e.stopPropagation()
            $('.fr-act').removeClass('fr-act')
            $(this).addClass('fr-act')
            var indexI = $(this).index()
            if(indexI === 0){
               $(window).scrollTop(0);
            }else if(indexI ===1 ){
               $('#wxm').addClass('wxm-show')
               if(wx_timer){
                   clearTimeout(wx_timer)
               }
               wx_timer = setTimeout(function (e) {
                    $('#wxm').removeClass('wxm-show')
                }, 5000)
            }
            setTimeout(function(e){
                $('.fr-act').removeClass('fr-act')
            },300)
        })
    })
</script>
</html>
